<div class="error_area">
    <% if @idea.errors.any? %>
        <ul>
            <% @idea.errors.full_messages.each do |message| %>
                <li>
                    <p><%= message %></p>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>
