/*
 *= require_self
 *= require_tree .
 */

@import "media.scss";

* {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

html {
    font-size: 10px;
}

body {
    background-image: image-url("background.jpg");
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

p, a {
    color: #1a1a1a;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

pre {
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: pre-wrap;      /* CSS3 */
    word-wrap: break-word;      /* IE 5.5+ */
}

.sp_only {
    @include mediaTB {
        display: none;
    }
}

.pc_only {
    display: none;
    @include mediaTB {
        display: inline-block;
    }
}

// Saferi UI リセット
input, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    max-width: 100%;
    border: 1px solid #a0a0a0;
    border-radius: 0;
    background-color: transparent;
}

// Paginage Kaminari
nav.pagination {
    text-align: center;
    span {
        margin: 0 1vw;
        @include mediaTB {
            margin: 0 6px;
        }
        a {
            color: #000000;
            font-size: 5vw;
            @include mediaTB {
                font-size: 1.8rem;
            }
        }
        &.current {
            font-size: 7vw;
            @include mediaTB {
                font-size: 2.4rem;
            }
        }
    }
}

// Common Header
.common_header {
    background-color: #272727;
    border-bottom: #1b1b1b 1px solid;
    .header_inner {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1.5vw 2vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include mediaTB {
            padding: 7px 0;
        }
        >h1 {
            >a {
                font-weight: bold;
                font-size: 8vw;
                color: #ffffff;
                @include mediaTB {
                    font-size: 2rem;
                }
            }
        }
        ul.header_right {
            display: flex;
            align-items: bottom;
            @include mediaTB {
                align-items: center;
            }
            >li {
                margin: 0 1vw;
                @include mediaTB {
                    margin: 0 8px;
                }
                >a {
                    width: 100%;
                    height: auto;
                    color: #ffffff;
                    img {
                        width: 9vw;
                        height: 9vw;
                        @include mediaTB {
                            width: 25px;
                            height: 25px;
                        }
                        &.user_icon {
                            border-radius: 4.5vw;
                            @include mediaTB {
                                border-radius: 12.5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.common_footer {
    padding-bottom: 1vw;
    border-top: solid #cfcfcf 1px;
    ul.footer_links {
        padding: 4vw 0 3.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            margin: 0 1vw;
            a {
                color: #505050;
                font-size: 2.8sdvw;
            }
        }
    }
    >p {
        text-align: center;
        color: #5e5e5e;
        font-size: 2.8vw;
    }
}