@import "media.scss";

//idea list 背景色
$idea_color: #f2fcee; 
// borderその他の色
$idea_border_color: #86ce00;
$idea_shadow_color: #dae4d4;
$right_header_color: #353535;

.ideas_header {
    margin-bottom: 8vw;
    padding: 20vw 0;
    text-align: center;
    background-image: image-url("top.jpg");
    background-position: center;
    background-size: cover;
    @include mediaTB {
        padding: 120px 0;
        margin-bottom: 40px;
    }
    h1 {
        color: #ffffff;
        font-weight: bold;
        font-size: 9vw;
        transform: rotate(-5deg);
        @include mediaTB {
            font-size: 6rem;
        }
    }
    p {
        width: 80%;
        margin: 0 auto;
        font-weight: bold;
        color: #ffffff;
        font-size: 4vw;
        transform: rotate(-5deg);
        @include mediaTB {
            font-size: 2rem;
        }
    }
}

// IDEA各ページ共通 右カラム
.idea_right {
    width: 300px;
    display: none;
    @include mediaTB2 {
        display: block;
    }
    h2 {
        text-align: center;
        font-size: 3rem;
        background-color: #dddddd;
        color: #585858;
    }
    .idea_count {
        text-align: center;
        h3 {
            background-color: $right_header_color;
            font-size: 2rem;
            color: #ffffff;
        }
        p {
            margin: 5px 0 15px;
            font-size: 2rem;
            &.idea_count_comment {
                font-size: 2.1rem;
                transform: rotate(-5deg);
                font-weight: bold;
                color: #3b3b3b;
            }
        }
    }
    .idea_right_button {
        margin-bottom: 15px;
        padding: 15px 0 30px;
        text-align: center;
        a {
            padding: 3px 12px;
            position: relative;
            display: inline-block;
            font-size: 2rem;
            color: #ffffff;
            border-radius: 4px;
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
            font-weight: bold;
            &:active {
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
            }
            &.new_idea {
                background-color: #2a63ff;
                border-bottom: solid 2px #0040f1;
            }
            &.signin {
                background-color: #13e700;
                border-bottom: solid 2px #10c400;
            }
        }
    }
    .free_area {
        img {
            width: 100%;
            height: auto;
        }
    }
    .idea_lists {
        h2 {
            font-size: 2rem;
            color: #ffffff;
            background-color: $right_header_color;
        }
        ul {
            li {
                border-bottom: 1px dashed #cca170;
                a {
                    display: block;
                    padding: 10px 7px;
                    font-size: 1.4rem;
                    color: #363636;
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }
    .search {
        h2 {
            font-size: 2rem;
            color: #ffffff;
            background-color: $right_header_color;
        }
        form {
            padding: 20px 0;
            display: flex;
            justify-content: center;
            input {
                width: 75%;
                font-size: 1.5rem;
                padding: 5px;
                background-color: #fcfcfc;
                &:focus {
                    outline: 0;
                    box-shadow:0 0 5px 0 #ff5e00cc;
                }
            }
            button {
                width: 15%;
                background-color: #ff7626;
                border: 2px solid #ff7626;
                box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
                &:active {
                    box-shadow: none;
                }
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}

.ideas {
    max-width: 1300px;
    margin: 0 auto;
    @include mediaTB {
        display: flex;
    }
    .ideas_left {
        flex-grow: 10;
        overflow: hidden;
        form#ideas_form {
            width: 80vw;
            margin: 0 auto 6vw;
            border: 1px solid $idea_border_color;
            box-sizing: border-box;
            @include mediaTB {
                width: 50rem;
                margin: 0 auto 30px;
            }
            .ideas_form_input {
                width: 100%;
                display: flex;
                justify-content: space-between;
                input {
                    width: 80%;
                    padding: 2.5vw 1.5vw;
                    font-size: 3vw;
                    vertical-align: middle;
                    outline: none;
                    border: none;
                    box-sizing: border-box;
                    @include mediaTB {
                        padding: 8px;
                        font-size: 1.3rem;
                    }
                }
                .search_button {
                    width: 20%;
                    padding: 2vw 0 1.5vw;
                    border: none;
                    background-color: $idea_border_color;
                    vertical-align: middle;
                    @include mediaTB {
                        padding: 8px;
                    }
                    img {
                        width: 4vw;
                        height: 4vw;
                        @include mediaTB {
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                    }
                }
            }
            .ideas_form_states {
                display: flex;
                justify-content: space-around;
                input[type=radio] {
                    display: none;
                    &:checked + label {
                        background-color: $idea_border_color;
                        color: #ffffff;
                    }
                }
                label {
                    width: 100%;
                    padding: 2vw 0;
                    text-align: center;
                    font-size: 3vw;
                    border: 1px solid $idea_border_color;
                    box-sizing: border-box;
                    @include mediaTB {
                        padding: 8px 0;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        ul.idea_list {
            width: 90vw;
            margin: 4vw auto;
            @include mediaTB {
                width: auto;
                margin: 0 auto;
                padding: 20px 0;
            }
            li.idea_content {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 5vw;
                padding: 3vw;
                position: relative;
                background-color: $idea_color;
                border-radius: 2vw;
                box-shadow: 1.4vw 1.6vw 1.6vw -1vw $idea_shadow_color;
                @include mediaTB {
                    width: 300px;
                    max-width: 330px;
                    margin: 10px;
                    padding: 10px 8px 7px;
                    border-radius: 5px;
                    display: inline-block;
                    box-shadow: 5px 5px 5px -2px $idea_shadow_color;
                }
                &:last-child {
                    @include mediaSP {
                        margin: 0;
                    }
                }
                .idea_applause {
                    position: absolute;
                    width: 17vw;
                    height: 17vw;
                    top: -4vw;
                    right: -4vw;
                    transform: rotate(20deg);
                    background-image: image-url("applause_alpha.png");
                    background-size: contain;
                    @include mediaTB {
                        width: 60px;
                        height: 60px;
                        top: -18px;
                        right: -18px;
                    }
                    p {
                        display: inline-block;
                        text-align: center;
                        line-height: 17vw;
                        width: 17vw;
                        height: 17vw;
                        color: #000000b4;
                        font-size: 9vw;
                        font-weight: bold;
                        @include mediaTB {
                            line-height: 60px;
                            width: 60px;
                            height: 60px;
                            font-size: 3.6rem;
                        }
                    }
                }
                h2 {
                    text-align: center;
                    @include mediaTB {
                        padding-right: 15px;
                    }
                    a {
                        font-size: 5.5vw;
                        line-height: 6.5vw;
                        color: #303030;
                        @include mediaTB {
                            font-size: 1.7rem;
                            line-height: 2rem;
                        }
                    }
                }
                pre {
                    width: 100%;
                    margin: 3vw 0;
                    padding: 4vw 3vw;
                    box-sizing: border-box;
                    font-size: 4vw;
                    line-height: 4.6vw;
                    border-width: 1px 0 1px 0;
                    border-style: solid;
                    border-color: #8f8f8f;
                    @include mediaTB {
                        margin: 5px 0;
                        padding: 5px 15px;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        text-align: left;
                    }
                }
                .idea_tags {
                    width: 70%;
                    margin: 0 auto;
                    text-align: center;
                    a {
                        margin: 0 0.5vw;
                        font-size: 4vw;
                        color: #646464;
                        @include mediaTB {
                            margin: 5px;
                            font-size: 1.2rem;
                        }
                    }
                }
                .idea_content_bottom {
                    width: 100%;
                    padding: 0 2vw;
                    box-sizing: border-box;
                    font-size: 4vw;
                    color: #5e5e5e;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @include mediaTB {
                        padding: 0 15px;
                        font-size: 1.5rem;
                    }
                    div {
                        display: flex;
                        align-items: center;
                        img {
                            width: 7vw;
                            height: 7vw;
                            margin-right: 1vw;
                            border-radius: 3.5vw;
                            @include mediaTB {
                                width: 25px;
                                height: 25px;
                                margin-right: 5px;
                                border-radius: 15px;
                            }
                        }
                        p {
                            line-height: 7vw;
                            @include mediaTB {
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.idea_new {
    .idea_new_top {
        padding: 14vw 0;
        background-image: image-url('top.jpg');
        background-size: cover;
        background-position: center;
        @include mediaTB {
            padding: 120px 0;
        }
        h1 {
            text-align: center;
            font-size: 7vw;
            transform: rotate(-5deg);
            font-weight: bold;
            color: #ffffff;
            @include mediaTB {
                font-size: 4rem;
            }
        }
    }
    form.new_idea {
        width: 85vw;
        margin: 0 auto;
        padding: 10vw 0;
        @include mediaTB {
            width: 100%;
            max-width: 800px;
            padding: 50px 0;
        }
        .form_input {
            margin-bottom: 4vw;
            display: flex;
            flex-direction: column;
            @include mediaTB {
                margin-bottom: 30px;
            }
            label {
                font-size: 4.8vw;
                @include mediaTB {
                    font-size: 2rem;
                }
            }
            input, textarea {
                padding: 1.8vw;
                font-size: 3.8vw;
                line-height: 4.5vw;
                border-color: #b3b3b3;
                transition-duration: 100ms;
                @include mediaTB {
                    padding: 6px 10px;
                    font-size: 1.5rem;
                    line-height: 2.4rem;
                }
                &:focus {
                    outline: 0;
                    box-shadow:0 0 2vw 0 #9ee091;
                    @include mediaTB {
                        box-shadow:0 0 1rem 0 #9ee091;
                    }
                }
            }
            .supplement {
                margin-left: 4vw;
                color: #636363;
                font-size: 3.6vw;
                line-height: 4.5vw;
                @include mediaTB {
                    margin-left: 16px;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                }
            }
        }
        .form_button {
            margin-top: 4vw;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            @include mediaTB {
                margin-top: 15px;
            }
            input {
                width: 60%;
                margin: 0 auto 2vw;
                padding: 1vw 0;
                font-size: 4.5vw;
                color: $idea_border_color;
                border: 1px solid $idea_border_color;
                @include mediaTB {
                    width: 30%;
                    margin: 0 auto 8px;
                    padding: 10px 0;
                    font-size: 1.8rem;
                }
            }
            a {
                margin: 0 auto;
                display: inline;
                font-size: 4vw;
                color: #3f3f3f;
                @include mediaTB {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.idea_show {
    max-width: 1250px;
    margin: 0 auto;
    @include mediaPC {
        display: flex;
    }
    .idea_show_left {
        width: 87vw;
        margin: 0 auto;
        @include mediaTB {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }
        .idea_date_and_user {
            margin: 3vw 0 6vw;
            display: flex;
            justify-content: space-between;
            @include mediaTB {
                margin: 0;
            }
            p {
                font-size: 3.5vw;
                line-height: 7vw;
                color: #575757;
                @include mediaTB {
                    font-size: 1.3rem;
                    line-height: 3rem;
                }
            }
            div {
                display: flex;
                align-items: middle;
                img {
                    width: 7vw;
                    height: 7vw;
                    margin-right: 0.5vw;
                    border-radius: 3.5vw;
                    @include mediaTB {
                        width: 3rem;
                        height: 3rem;
                        margin-right: auto;
                        border-radius: 1.5rem;
                    }
                }
                p {
                    font-size: 4.5vw;
                    color: #575757;
                    @include mediaTB {
                        font-size: 1.6rem;
                        line-height: 3rem;
                    }
                }
            }
        }
        h1 {
            margin-bottom: 4vw;
            text-align: center;
            font-size: 5.5vw;
            font-weight: bold;
            @include mediaTB {
                margin-bottom: 0;
                font-size: 2.2rem;
            }
        }
        .idea_cotents {
            width: 85vw;
            margin: 0 auto;
            @include mediaTB {
                width: 100%;
                max-width: 600px;
                margin: 0 auto 30px;
            }
            pre {
                padding: 2vw;
                box-sizing: border-box;
                font-size: 4vw;
                line-height: 4.6vw;
                @include mediaTB {
                    width: 100%;
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
            .idea_tags {
                margin: 3vw 0 5vw;
                display: flex;
                @include mediaTB {
                    margin: 0;
                }
                li {
                    margin: 0 1vw;
                    @include mediaTB {
                        margin: 0;
                    }
                    a {
                        padding: 1vw 2.5vw;
                        font-size: 4vw;
                        line-height: 4vw;
                        border-radius: 3vw;
                        color: #ffffff;
                        background-color: $idea_border_color;
                        @include mediaTB {
                            padding: 5px 15px;
                            font-size: 1.5rem;
                            line-height: auto;
                            border-radius: 25px;
                        }
                    }
                }
            }
            .sns_links {
                display: flex;
                justify-content: space-between;
                // Applause
                form#applause_form {
                    display: flex;
                    align-items: center;
                    button {
                        padding: 1vw 2vw;
                        font-size: 3.5vw;
                        line-height: 5.5vw;
                        color: #ffffff;
                        background-color: #ffb74b;
                        border: 1px solid #ffb74b;
                        @include mediaTB {
                            padding: 3px 12px;
                            font-size: 1.1rem;
                            line-height: 2rem;
                        }
                        img {
                            width: auto;
                            height: 5vw;
                            margin-left: 0.5vw;
                            line-height: 5.5vw;
                            vertical-align: middle;
                            @include mediaTB {
                                height: 1.6rem;
                                margin-left: 5px;
                                line-height: 2rem;
                            }
                        }
                    }
                    p {
                        padding: 1vw 3vw;
                        display: inline-block;
                        font-size: 5vw;
                        line-height: 5.5vw;
                        color: #535353;
                        border: 1px solid #ffb74b;
                        @include mediaTB {
                            padding: 3px 12px;
                            font-size: 1.5rem;
                            line-height: 2rem;
                        }
                    }
                }
                .sns {
                    margin: 0 2vw;
                    display: flex;
                    @include mediaTB {
                        margin: 5px;
                    }
                    & img {
                        margin: 0 0.5vw;
                        width: 8.5vw;
                        height: 8.5vw;
                        @include mediaTB {
                            margin: 0 3px;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
    .idea_reaction_list {
        li {
            width: 95%;
            margin: 4vw auto 6vw;
            @include mediaTB {
                width: 90%;
                max-width: 640px;
                margin: 0 auto 20px;
            }
            .reaction_user {
                padding: 0 4vw;
                display: flex;
                align-items: middle;
                @include mediaTB {
                    padding: 0 15px;
                }
                img {
                    width: 7vw;
                    height: 7vw;
                    margin: 0 0.5vw;
                    border-radius: 3.5vw;
                    @include mediaTB {
                        width: 3.2rem;
                        height: 3.2rem;
                        margin: 0;
                        border-radius: 1.6rem;
                    }
                }
                p {
                    font-size: 4.5vw;
                    color: #3d3d3d;
                    @include mediaTB {
                        font-size: 1.9rem;
                        padding: 0;
                    }
                }
            }
            pre {
                width: 100%;
                margin: 2.5vw 0 1vw;
                padding: 2.5vw;
                box-sizing: border-box;
                font-size: 4vw;
                line-height: 4.6vw;
                background-color: #e9e9e9;
                border-radius: 1vw;
                color: #353535;
                // 吹き出し
                position: relative;
                display: inline-block;
                @include mediaTB {
                    width: 90%;
                    margin: 15px 0 3px;
                    padding: 15px;
                    box-sizing: border-box;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    border-radius: 5px;
                    box-shadow: inset 0 4px 0 #ffffff33, 0 2px 4px #00000030;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: -4.5vw;
                    left: 5.4vw;
                    border: 3vw solid transparent;
                    border-bottom: 2.5vw solid #e9e9e9;
                    @include mediaTB {
                        top: -20px;
                        left: 20px;
                        border: 10px solid transparent;
                        border-bottom: 10px solid #e9e9e9;
                    }
                }
            }
            p {
                padding: 0 3vw;
                text-align: right;
                color: #444444;
                @include mediaTB {
                    padding: 0 13%;
                }
            }
            &.reaction_right {
                text-align: right;
                .reaction_user {
                    float: right;
                    flex-direction: row-reverse;
                }
                pre {
                    background-color: #d6ffa7;
                    text-align: left;
                    &::before {
                        left: auto;
                        right: 5.4vw;
                        border-bottom: 2vw solid #d6ffa7;
                        @include mediaTB {
                            right: 20px;
                            border-bottom: 10px solid #d6ffa7;
                        }
                    }
                }
                p {
                    text-align: left;
                }
            }
        }
    }
    .new_idea_reaction {
        width: 80vw;
        margin: 10vw auto 20vw;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        @include mediaTB {
            width: 400px;
            margin: 20px auto 30px;
        }
        textarea {
            width: 100%;
            margin-bottom: 1vw;
            padding: 1.8vw;
            font-size: 3.8vw;
            line-height: 4.5vw;
            border-color: #b3b3b3;
            transition-duration: 100ms;
            box-shadow: 0 0 0.8vw #0000004d;
            @include mediaTB {
                margin-bottom: 5px;
                padding: 5px 8px;
                font-size: 1.5rem;
                line-height: 2rem;
                box-shadow: 0 0 3px #0000004d;
            }
            &:focus {
                outline: 0;
                box-shadow:0 0 2vw 0 #9ee091;
                @include mediaTB {
                    box-shadow:0 0 5px 0 #9ee091;
                }
            }
        }
        input[type="submit"] {
            width: 20vw;
            padding: 1vw 0;
            font-size: 3vw;
            border: none;
            background-color: #00d40b;
            color: #ffffff;
            font-weight: bold;
            box-shadow: inset 0 0.5vw 0 #ffffff33, 0 0.5vw 0.5vw #00000030;
            @include mediaTB {
                width: 25%;
                padding: 5px 10px;
                font-size: 1.5rem;
                box-shadow: inset 0 3px 0 #ffffff33, 0 3px 3px #00000030;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
}