@import "media.scss";

$button_shadow_sp: 0.5vw 1vw 1.5vw -1vw #353535;
$button_shadow_tb: 3px 5px 5px -5px #353535;

.top_page {
    max-width: 1000px;
    padding: 14vw 0;
    margin: 0 auto;
    @include mediaTB {
        padding: 80px 0;
    }
    .idea_bosyu {
        margin: 0 0 5vw;
        text-align: center;
        @include mediaTB {
            margin: 0 0 70px;
        }
        >h2 {
            margin: 0 0 2vw;
            font-size: 5.6vw;
            line-height: 8vw;
            vertical-align: middle;
            @include mediaTB {
                margin: 0 0 30px;
                font-size: 4.6rem;
                line-height: 5.4rem;
                color: #313131;
                line-height: 5.6rem;
            }
            span.mechaBetter {
                font-size: 6.5vw;
                text-decoration: underline;
                @include mediaTB {
                    font-size: 5.5rem;
                }
            }
        }
        >p {
            width: 80%;
            margin: 0 auto 4vw;
            font-size: 4.2vw;
            @include mediaTB {
                width: auto;
                margin: 0 0 30px;
                font-size: 1.7rem;
            }
        }
        >a {
            padding: 1vw 9vw;
            border-radius: 5vw;
            font-size: 4.4vw;
            display: inline-block;
            background-color: #3593ff;
            color: #ffffff;
            font-weight: bold;
            box-shadow: $button_shadow_sp;
            @include mediaTB {
                padding: 8px 65px;
                font-size: 1.6rem;
                border-radius: 2rem;
                box-shadow: $button_shadow_tb
            }
        }
    }
    .idea_tokucho {
        margin: 0 0 25vw;
        padding: 10vw 0 0;
        text-align: center;
        @include mediaTB {
            margin: 0 0 80px;
            padding: 30px 0 0;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .idea_tokucho_div {
            width: 90vw;
            margin: 0 auto 12vw;
            @include mediaTB {
                width: 300px;
                margin: 0 0 60px;
            }
            >img {
                width: 25%;
                @include mediaTB {
                    width: 30%;
                }
            }
            >h2 {
                margin-bottom: 0.5vw;
                font-size: 6vw;
                @include mediaTB {
                    margin-bottom: 2px;
                    font-size: 2.2rem;
                }
            }
            >p {
                font-size: 4.5vw;
                @include mediaTB {
                    font-size: 1.6rem;
                }
            }
        }
    }
    .idea_rei {
        margin: 0 0 15vw;
        text-align: center;
        @include mediaTB {
            margin: 0 0 80px;
        }
        >h1 {
            font-size: 5vw;
            @include mediaTB {
                font-size: 3rem;
            }
        }
        .idea_rei_list {
            @include mediaTB {
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                flex-wrap: wrap;
            }
            >li {
                width: 85%;
                margin: 5vw auto;
                border: 1px solid #999999;
                background-color: #ffffff;
                box-shadow: $button_shadow_sp;
                @include mediaTB {
                    width: 300px;
                    margin: 20px auto;
                    box-shadow: $button_shadow_tb;
                }
                >a {
                    padding: 5vw 0;
                    display: block;
                    @include mediaTB {
                        padding: 10px;
                    }
                    .idea_rei_text {
                        width: 85%;
                        margin: 0 auto;
                        >h2 {
                            font-size: 4.8vw;
                            line-height: 6.2vw;
                            @include mediaTB {
                                font-size: 2rem;
                                line-height: 2.6rem;
                            }
                        }
                        >pre {
                            margin: 2vw 0;
                            padding: 2vw 0;
                            font-size: 4vw;
                            line-height: 4.8vw;
                            text-align: left;
                            border-width: 1px 0 1px 0;
                            border-style: solid;
                            border-color: #999999;
                            @include mediaTB {
                                margin: 5px 0;
                                padding: 5px 0;
                                font-size: 1.5rem;
                                line-height: 2.2rem;
                            }
                        }
                        .idea_rei_user {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            >img {
                                width: 8vw;
                                height: 8vw;
                                margin-right: 0.5vw;
                                border-radius: 4vw;
                                @include mediaTB {
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 5px;
                                    border-radius: 10px;
                                }
                            }
                            >p {
                                display: inline-block;
                                font-size: 4.5vw;
                                @include mediaTB {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .idea_letsgo {
        text-align: center;
        >h3 {
            margin: 0 0 3vw;
            font-size: 4.6vw;
            color: #1f1f1f;
            text-decoration: underline;
            @include mediaTB {
                margin: 0 0 15px;
                font-size: 2.5rem;
            }
        }
        .idea_letdgo_links {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                width: 55%;
                margin: 0 0 3vw;
                padding: 1vw 1.5vw;
                font-size: 4.4vw;
                border-radius: 5vw;
                color: #ffffff;
                font-weight: bold;
                box-shadow: $button_shadow_sp;
                @include mediaTB {
                    width: 200px;
                    margin: 0 0 15px;
                    padding: 9px 50px;
                    font-size: 1.4rem;
                    border-radius: 2rem;
                    box-shadow: $button_shadow_tb
                }
                &.ideas_link {
                    background-color: #3593ff;
                }
                &.login_link {
                    background-color: #44d350;
                }
            }
        }
    }
}

.signin {
    padding: 25vw 0 30vw;
    @include mediaTB {
        padding: 120px 0 260px;
    }
    .signin_head {
        margin-bottom: 8vw;
        text-align: center;
        @include mediaTB {
            margin-bottom: 40px;
        }
        h1 {
            font-size: 5vw;
            @include mediaTB {
                margin-bottom: 10px;
                font-size: 2.6rem;
            }
        }
        p {
            font-size: 3.5vw;
            @include mediaTB {
                font-size: 1.8rem;
            }
        }
    }
    ul.signin_links {
        display: flex;
        flex-direction: column;
        li {
            width: 85vw;
            margin: 3.5vw auto;
            padding: 1vw 0;
            border-radius: 5vw;
            border-width: 1px;
            border-style: solid;
            text-align: center;
            box-shadow:0 1vw 1vw -1vw #00000071;
            &:active {
                box-shadow: none;
            }
            @include mediaTB {
                width: 300px;
                margin: 10px auto 18px;
                padding: 5px 0;
                border-radius: 20px;
                box-shadow:0 3.5px 3.5px -3px #0000008e;
            }
            a {
                font-size: 5vw;
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 5vw;
                @include mediaTB {
                    font-size: 1.8rem;
                    border-radius: 20px;
                }
            }
            &.twitter {
                border-color: #00b4fc;
                a {
                    color: #00b4fc;
                }
            }
            &.facebook {
                border-color: #0041bb;
                a {
                    color: #0041bb;
                }
            }
            &.github {
                color: #000000;
                border-color: #000000;
                a {
                    color: #000000;
                }
            }
        }
    }
    .go_to_ideas {
        margin-top: 3vw;
        text-align: center;
        @include mediaTB {
            margin-top: 10px;
        }
        a {
            font-size: 3.8vw;
            text-decoration: underline;
            @include mediaTB {
                font-size: 1.5rem;
            }
        }
    }
}

.privacy {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    >h1 {
        text-align: center;
    }
    >p {
        margin: 10px 20px 20px;
    }
}