<footer class="common_footer">
    <ul class="footer_links">
        <li>
            <%= link_to("TOP", root_path) %>
        </li>
        <li>
            <%= link_to("運営者情報", "https://twitter.com/mimi_2046") %>
        </li>
        <li>
            <%= link_to("利用規約", terms_path) %>
        </li>
        <li>
            <%= link_to("プライバシーポリシー", privacy_path) %>
        </li>
    </ul>
    <p>&copy;2019 Misato Miyahara</p>
</footer>